.nav__container {
  padding: 0.5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orangered; */
}

.heading {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--dr-blue);
}

.description {
  color: var(--lg-grey);
}

.hero {
  padding: 2rem;
  /* background-color: orangered; */
}

/* .hero__image-box {
  padding: 0 2rem 0 0;
} */

.keyboard-image {
  max-width: 108%;
  border-radius: 2rem 0 0 2rem;
}

.hero__heading--main {
  font-size: 4rem;
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero__cta--text {
  text-transform: uppercase;
  font-weight: 600;
}

.hero--extra__image {
  padding: 0 0 2rem 0;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero--extra__textbox {
  text-align: center;
  padding: 2rem;
}

.glass-keyboard {
  max-width: 60%;
  border-radius: 2rem;
}

.phone-keyboard {
  max-width: 35%;
  border-radius: 0 2rem 2rem 0;
}
