.nav__container {
  padding: 0.5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orangered; */
}

.heading {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--dr-blue);
}

.description {
  color: var(--lg-grey);
}

.hero {
  padding: 2rem;
  /* background-color: orangered; */
}

/* .hero__image-box {
  padding: 0 2rem 0 0;
} */

.keyboard-image {
  width: 108%;
}

.hero__heading--main {
  font-size: 4rem;
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero__cta--text {
  text-transform: uppercase;
  font-weight: 600;
}
